In [1]:
import pandas as pd
import requests

# Step 1: Read JSON from web API
response = requests.get('https://jsonplaceholder.typicode.com/users')

# Step 2: Check if the request was successful
if response.status_code == 200:
    data = response.json()
else:
    print("Failed to get data:", response.status_code)

# Step 3: Pass it to a DataFrame
df = pd.DataFrame(data)

In [29]:
# Step 4: Print the DataFrame
print(df)

   id                      name          username                      email  \
0   1             Leanne Graham              Bret          Sincere@april.biz
1   2              Ervin Howell         Antonette          Shanna@melissa.tv
2   3          Clementine Bauch          Samantha         Nathan@yesenia.net
3   4          Patricia Lebsack          Karianne  Julianne.OConner@kory.org
4   5          Chelsey Dietrich            Kamren   Lucio_Hettinger@annie.ca
5   6      Mrs. Dennis Schulist  Leopoldo_Corkery    Karley_Dach@jasper.info
6   7           Kurtis Weissnat      Elwyn.Skiles     Telly.Hoeger@billy.biz
7   8  Nicholas Runolfsdottir V     Maxime_Nienow       Sherwood@rosamond.me
8   9           Glenna Reichert          Delphine    Chaim_McDermott@dana.io
9  10        Clementina DuBuque    Moriah.Stanton     Rey.Padberg@karina.biz

                                             address                  phone  \
0  {'street': 'Kulas Light', 'suite': 'Apt. 556',...  1-770-736-8031 x56442
1  {'street': 'Victor Plains', 'suite': 'Suite 87...    010-692-6593 x09125
2  {'street': 'Douglas Extension', 'suite': 'Suit...         1-463-123-4447
3  {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...      493-170-9623 x156
4  {'street': 'Skiles Walks', 'suite': 'Suite 351...          (254)954-1289
5  {'street': 'Norberto Crossing', 'suite': 'Apt....   1-477-935-8478 x6430
6  {'street': 'Rex Trail', 'suite': 'Suite 280', ...           210.067.6132
7  {'street': 'Ellsworth Summit', 'suite': 'Suite...      586.493.6943 x140
8  {'street': 'Dayna Park', 'suite': 'Suite 449',...   (775)976-6794 x41206
9  {'street': 'Kattie Turnpike', 'suite': 'Suite ...           024-648-3804

         website                                            company
0  hildegard.org  {'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...
1  anastasia.net  {'name': 'Deckow-Crist', 'catchPhrase': 'Proac...
2    ramiro.info  {'name': 'Romaguera-Jacobson', 'catchPhrase': ...
3       kale.biz  {'name': 'Robel-Corkery', 'catchPhrase': 'Mult...
4   demarco.info  {'name': 'Keebler LLC', 'catchPhrase': 'User-c...
5        ola.org  {'name': 'Considine-Lockman', 'catchPhrase': '...
6       elvis.io  {'name': 'Johns Group', 'catchPhrase': 'Config...
7   jacynthe.com  {'name': 'Abernathy Group', 'catchPhrase': 'Im...
8     conrad.com  {'name': 'Yost and Sons', 'catchPhrase': 'Swit...
9    ambrose.net  {'name': 'Hoeger LLC', 'catchPhrase': 'Central...

In [30]:
# Step 5: show the first 5 rows 

df.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [31]:
df.columns

Index(['id', 'name', 'username', 'email', 'address', 'phone', 'website',
       'company'],
      dtype='object')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10 non-null     int64
 1   name      10 non-null     object
 2   username  10 non-null     object
 3   email     10 non-null     object
 4   address   10 non-null     object
 5   phone     10 non-null     object
 6   website   10 non-null     object
 7   company   10 non-null     object
dtypes: int64(1), object(7)
memory usage: 768.0+ bytes

In [33]:
df.shape

(10, 8)

In [34]:
df.empty

False

In [35]:
df.dtypes  # data types of each column

id           int64
name        object
username    object
email       object
address     object
phone       object
website     object
company     object
dtype: object

In [36]:
df.address

0    {'street': 'Kulas Light', 'suite': 'Apt. 556',...
1    {'street': 'Victor Plains', 'suite': 'Suite 87...
2    {'street': 'Douglas Extension', 'suite': 'Suit...
3    {'street': 'Hoeger Mall', 'suite': 'Apt. 692',...
4    {'street': 'Skiles Walks', 'suite': 'Suite 351...
5    {'street': 'Norberto Crossing', 'suite': 'Apt....
6    {'street': 'Rex Trail', 'suite': 'Suite 280', ...
7    {'street': 'Ellsworth Summit', 'suite': 'Suite...
8    {'street': 'Dayna Park', 'suite': 'Suite 449',...
9    {'street': 'Kattie Turnpike', 'suite': 'Suite ...
Name: address, dtype: object

In [39]:
# REMOVENDO APENAS A PALAVRA 'street' DA COLUNA 'address'

# Remove 'street' from each address
df['address'] = df['address'].apply(lambda address: {key: val for key, val in address.items() if key != 'street'}) # .APLPLY É UM METODO PARA APLICAR UMA FUNÇÃO A CADA ELEMENTO DE UMA COLUNA
# NESTE CASO, APLICAMOS UMA FUNÇÃO LAMBDA QUE REMOVE A PALAVRA 'street' DE CADA LINHA DA COLUNA 'address'

In [40]:
df['address']

0    {'suite': 'Apt. 556', 'city': 'Gwenborough', '...
1    {'suite': 'Suite 879', 'city': 'Wisokyburgh', ...
2    {'suite': 'Suite 847', 'city': 'McKenziehaven'...
3    {'suite': 'Apt. 692', 'city': 'South Elvis', '...
4    {'suite': 'Suite 351', 'city': 'Roscoeview', '...
5    {'suite': 'Apt. 950', 'city': 'South Christy',...
6    {'suite': 'Suite 280', 'city': 'Howemouth', 'z...
7    {'suite': 'Suite 729', 'city': 'Aliyaview', 'z...
8    {'suite': 'Suite 449', 'city': 'Bartholomebury...
9    {'suite': 'Suite 198', 'city': 'Lebsackbury', ...
Name: address, dtype: object

In [47]:
# Reload the data from the API
response = requests.get('https://jsonplaceholder.typicode.com/users')
if response.status_code == 200:
    data = response.json()
else:
    print("Failed to get data:", response.status_code)

# Recreate the DataFrame
df = pd.DataFrame(data)

In [48]:
df.head()

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."

In [49]:
# SEPARANDO AS CHAVES E VALORES DA COLUNA 'address' EM COLUNAS SEPARADAS

df_address = pd.DataFrame(df['address'].to_list()) # .to_list() transforma a coluna 'address' em uma lista

df_address

df_address.columns  # mostra as colunas da nova tabela

df_address.columns = ['address_' + col for col in df_address.columns] # renomeia as colunas da nova tabela

df_address

,address_street,address_suite,address_city,address_zipcode,address_geo
0,Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}"
5,Norberto Crossing,Apt. 950,South Christy,23505-1337,"{'lat': '-71.4197', 'lng': '71.7478'}"
6,Rex Trail,Suite 280,Howemouth,58804-1099,"{'lat': '24.8918', 'lng': '21.8984'}"
7,Ellsworth Summit,Suite 729,Aliyaview,45169,"{'lat': '-14.3990', 'lng': '-120.7677'}"
8,Dayna Park,Suite 449,Bartholomebury,76495-3109,"{'lat': '24.6463', 'lng': '-168.8889'}"
9,Kattie Turnpike,Suite 198,Lebsackbury,31428-2261,"{'lat': '-38.2386', 'lng': '57.2232'}"

In [51]:
# MERGE AS TUAS TABELAS USANDO A COLUNA ADDRESS COMO CHAVE

df = pd.concat([df, df_address], axis=1) # axis=1 significa que o merge será feito pelas colunas

In [52]:
df.head()

,id,name,username,email,address,phone,website,company,address_street,address_suite,address_city,address_zipcode,address_geo
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}"
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}"
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}"
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}"
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}"

In [54]:
# REALIZANDO A MESMA OPERAÇÃO PARA A COLUNA 'company'

df_company = pd.DataFrame(df['company'].to_list())

df_company.columns = ['company_' + col for col in df_company.columns]

df_company

df = pd.concat([df, df_company], axis=1)    

df.head()

,id,name,username,email,address,phone,website,company,address_street,address_suite,address_city,address_zipcode,address_geo,company_name,company_catchPhrase,company_bs,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu...",Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}",Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac...",Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}",Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ...",Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}",Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult...",Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}",Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c...",Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}",Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [56]:
# DROP AS COLUMNS 'address' E 'company'

df.drop(['address', 'company'], axis=1, inplace=True) # axis=1 significa que o drop será feito pelas colunas

df.head()

,id,name,username,email,phone,website,address_street,address_suite,address_city,address_zipcode,address_geo,company_name,company_catchPhrase,company_bs,company_name,company_catchPhrase,company_bs
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,"{'lat': '-37.3159', 'lng': '81.1496'}",Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,"{'lat': '-43.9509', 'lng': '-34.4618'}",Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,"{'lat': '-68.6102', 'lng': '-47.0653'}",Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,"{'lat': '29.4572', 'lng': '-164.2990'}",Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,"{'lat': '-31.8129', 'lng': '62.5342'}",Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems

In [60]:
# REPETIR A AÇÃO PARA A COLUNA 'address_geo' e depois DROP 'address_geo'

df_geo = pd.DataFrame(df['address_geo'].to_list())  # transforma a coluna 'geo' em uma lista

df_geo.columns = ['address_geo' + col for col in df_geo.columns] # renomeia as colunas da nova tabela  

df_geo  

df = pd.concat([df, df_geo], axis=1) # concat das tabelas

# drop das colunas 'address_geo' 

df.drop(['address_geo'], axis=1, inplace=True) # axis=1 significa que o drop será feito pelas colunas

df.head()

,id,name,username,email,phone,website,address_street,address_suite,address_city,address_zipcode,company_name,company_catchPhrase,company_bs,company_name,company_catchPhrase,company_bs,address_geolat,address_geolng,address_geolat,address_geolng
0,1,Leanne Graham,Bret,Sincere@april.biz,1-770-736-8031 x56442,hildegard.org,Kulas Light,Apt. 556,Gwenborough,92998-3874,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,Romaguera-Crona,Multi-layered client-server neural-net,harness real-time e-markets,-37.3159,81.1496,-37.3159,81.1496
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,010-692-6593 x09125,anastasia.net,Victor Plains,Suite 879,Wisokyburgh,90566-7771,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,Deckow-Crist,Proactive didactic contingency,synergize scalable supply-chains,-43.9509,-34.4618,-43.9509,-34.4618
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,1-463-123-4447,ramiro.info,Douglas Extension,Suite 847,McKenziehaven,59590-4157,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,Romaguera-Jacobson,Face to face bifurcated interface,e-enable strategic applications,-68.6102,-47.0653,-68.6102,-47.0653
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,493-170-9623 x156,kale.biz,Hoeger Mall,Apt. 692,South Elvis,53919-4257,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,Robel-Corkery,Multi-tiered zero tolerance productivity,transition cutting-edge web services,29.4572,-164.2990,29.4572,-164.2990
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,(254)954-1289,demarco.info,Skiles Walks,Suite 351,Roscoeview,33263,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,Keebler LLC,User-centric fault-tolerant solution,revolutionize end-to-end systems,-31.8129,62.5342,-31.8129,62.5342