In [30]:
import pyodbc
import pandas as pd

In [37]:
conx = pyodbc.connect('DRIVER=MySQL ODBC 8.2 ANSI Driver;'
                      'SERVER=localhost;'
                      'DATABASE=bancoprivado;'
                      'UID=root;'
                      'PWD=Aulas123@;')

In [38]:
df = pd.read_sql('SELECT * FROM conta_cliente;', 
                 conx)
conx.close()
df.head()

C:\Users\Dan\AppData\Local\Temp\ipykernel_17440\2843967299.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM conta_cliente;',

   id  id_cliente agencia   saldo  fatura_credito        data_incusao
0   1           1       4    0.00           200.0 2023-10-04 09:17:11
1   2          10       6 -100.84             0.0 2023-10-31 10:53:30
2   3          28       8    0.00           150.0 2023-10-31 10:53:30
3   4          22       4  -60.72             0.0 2023-10-31 10:53:30
4   5           6       2    0.00           400.0 2023-10-31 10:53:30

In [39]:
df = df[df['id_cliente'] == 1]
df

    id  id_cliente agencia  saldo  fatura_credito        data_incusao
0    1           1       4    0.0           200.0 2023-10-04 09:17:11
28  29           1      10    0.0           180.0 2023-10-31 10:53:30