In [17]:
import pandas as pd
import numpy as np
import glob

In [18]:
#Pegando primeiro arquivo da pasta BD
txt = glob.glob("BD//*csv*")
caminho = txt[0]
print(caminho)

BD\Summer-Olympic-medals-1976-to-2008.csv

In [41]:
#Lendo arquivo e ajustando NaN
df = pd.read_csv(caminho, encoding='latin-1')
df = df.fillna('deletar')
df = df[df['City'] != 'deletar']
df['Year'] = df['Year'].astype(int)
print(df)

           City  Year      Sport       Discipline           Event  \
0      Montreal  1976   Aquatics           Diving  3m springboard
1      Montreal  1976   Aquatics           Diving  3m springboard
2      Montreal  1976   Aquatics           Diving  3m springboard
3      Montreal  1976   Aquatics           Diving  3m springboard
4      Montreal  1976   Aquatics           Diving    10m platform
...         ...   ...        ...              ...             ...
15428   Beijing  2008  Wrestling  Wrestling Gre-R       66 - 74kg
15429   Beijing  2008  Wrestling  Wrestling Gre-R       66 - 74kg
15430   Beijing  2008  Wrestling  Wrestling Gre-R       55 - 60kg
15431   Beijing  2008  Wrestling  Wrestling Gre-R       60 - 66kg
15432   Beijing  2008  Wrestling  Wrestling Gre-R      96 - 120kg

                        Athlete Gender Country_Code        Country  \
0               KÖHLER, Christa  Women          GDR   East Germany
1           KOSENKOV, Aleksandr    Men          URS   Soviet Union
2          BOGGS, Philip George    Men          USA  United States
3      CAGNOTTO, Giorgio Franco    Men          ITA          Italy
4        WILSON, Deborah Keplar  Women          USA  United States
...                         ...    ...          ...            ...
15428        GUENOT, Christophe    Men          FRA         France
15429       KVIRKELIA, Manuchar    Men          GEO        Georgia
15430          RAHIMOV, Vitaliy    Men          AZE     Azerbaijan
15431            GUENOT, Steeve    Men          FRA         France
15432             LOPEZ, Mijain    Men          CUB           Cuba

      Event_gender   Medal
0                W  Silver
1                M  Bronze
2                M    Gold
3                M  Silver
4                W  Bronze
...            ...     ...
15428            M  Bronze
15429            M    Gold
15430            M  Silver
15431            M    Gold
15432            M    Gold

[15316 rows x 11 columns]

In [64]:
#Editando os nomes
nomes_completos = df['Athlete'].str.split(',')
nomes = nomes_completos.str.get(1)
sobrenones = nomes_completos.str.get(0)
sobrenones = sobrenones.str.title()
nome_completo = nomes+' '+sobrenones
print(nomes)
print(sobrenones)
print(nome_completo)

0                Christa
1              Aleksandr
2          Philip George
3         Giorgio Franco
4         Deborah Keplar
              ...
15428         Christophe
15429           Manuchar
15430            Vitaliy
15431             Steeve
15432             Mijain
Name: Athlete, Length: 15316, dtype: object
0           Köhler
1         Kosenkov
2            Boggs
3         Cagnotto
4           Wilson
           ...
15428       Guenot
15429    Kvirkelia
15430      Rahimov
15431       Guenot
15432        Lopez
Name: Athlete, Length: 15316, dtype: object
0                  Christa Köhler
1              Aleksandr Kosenkov
2             Philip George Boggs
3         Giorgio Franco Cagnotto
4           Deborah Keplar Wilson
                   ...
15428           Christophe Guenot
15429          Manuchar Kvirkelia
15430             Vitaliy Rahimov
15431               Steeve Guenot
15432                Mijain Lopez
Name: Athlete, Length: 15316, dtype: object

In [167]:
#Trabalhando as informações de moedas por pais
df_paises = df[['Country','Medal']]
df_paises.insert(2,'Quantidade',1)
pivot_medals = pd.pivot_table(df_paises, index='Country', columns='Medal', values='Quantidade', fill_value=0, aggfunc='sum')
df_pivot = pd.DataFrame(pivot_medals)
df_pivot.insert(3,'Total',df_pivot['Bronze']+df_pivot['Gold']+df_pivot['Silver'])
df_pivot = df_pivot[['Bronze','Silver','Gold','Total']]
df_pivot = df_pivot.sort_values(by='Total', ascending=False)
print(df_pivot)

Medal          Bronze  Silver  Gold  Total
Country
United States     481     583   928   1992
Soviet Union      297     285   439   1021
Australia         312     270   216    798
Germany           278     176   237    691
China             193     252   234    679
...               ...     ...   ...    ...
Panama              0       0     1      1
Senegal             0       1     0      1
Sri Lanka           0       1     0      1
Sudan               0       1     0      1
Macedonia           1       0     0      1

[127 rows x 4 columns]

In [168]:
#Trabalhando as informações de moedas masculinas
df_gender = df[df['Gender'] == 'Men']
df_gender = df_gender[['Gender','Year','Medal']]
df_gender.insert(3,'Quantidade',1)
pivot_medals = pd.pivot_table(df_gender, index='Year', columns=['Medal'], values='Quantidade', fill_value=0, aggfunc='sum')
df_pivot = pd.DataFrame(pivot_medals)
df_pivot.insert(3,'Total',df_pivot['Bronze']+df_pivot['Gold']+df_pivot['Silver'])
df_pivot = df_pivot[['Bronze','Silver','Gold','Total']]
df_pivot = df_pivot.sort_values(by='Total', ascending=False)
print(df_pivot)

Medal  Bronze  Silver  Gold  Total
Year
2000      386     370   370   1126
2008      391     357   362   1110
1992      391     356   358   1105
2004      376     362   361   1099
1996      374     352   356   1082
1988      352     325   334   1011
1984      338     315   320    973
1980      328     313   317    958
1976      321     301   302    924